body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;}

fieldset, img {border:0}


body,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}

a { 
    color: #FF0000; 
}

h1 {
  margin-left: 83px;
}



html{
background-image: url(/static/Formularios/imagen/thumb-1920-667236.jpg);
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    
}

.container {
    width: 614px;
    height: 50px;
    margin-left: 396px;
    margin-top: 9px;
}

form {
  background: white;
  padding: 27px;
  height: 464px;
  width: 346px;
  margin-left: 133px;
    border-radius: 5px;
    text-align: justify;
    margin-top: 40px;
    font-weight: bold;
    -webkit-box-shadow: 6px 10px 36px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 36px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 10px 36px 0px rgba(0,0,0,0.75);
    }

input {
  margin-top: 38px;
  width: 283px;
  padding: 1;
  margin-left: 40px;
}

.datos1 {
  margin-left: 1px;
}

.datos2 {
  margin-left: 1px;
}

.label1 {
  text-align: center;
  margin-left: 100px;
  margin-right: 103px;
}

.label2 {
  text-align: center;
  padding: 6px;
  margin-left: 145px;
}

.label3 {
  text-align: center;
  padding: 57px;
}

.label3 {
  margin-left: 108px;
  margin-right: 95px;
}

.label4 {
  margin-left: 114px;
  margin-right: 87px;
}

button.bubbly-button {
        font-family: "Helvetica", "Arial", sans-serif;
        display: inline-block;
        font-size: 1em;
        padding: 1em 2em;
        margin-top: 32px;
        margin-left: 101px;
        margin-bottom: 60px;
        width: 163px;
        -webkit-appearance: none;
        appearance: none;
        background-color: #0187c4;
        color: #fff;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        position: relative;
        transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
        box-shadow: 0 2px 25px rgb(202, 219, 81);
      }
      .bubbly-button:focus {
        outline: 0;
      }
      .bubbly-button:before, .bubbly-button:after {
        position: absolute;
        content: "";
        display: block;
        width: 140%;
        height: 100%;
        left: -20%;
        z-index: -1000;
        transition: all ease-in-out 0.5s;
        background-repeat: no-repeat;
      }
      .bubbly-button:before {
        display: none;
        top: -75%;
        background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
        background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
      }
      .bubbly-button:after {
        display: none;
        bottom: -75%;
        background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
        background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
      }
      .bubbly-button:active {
        transform: scale(0.9);
        background-color: #4097e9;
        box-shadow: 0 2px 25px rgba(74, 195, 199, 0.925);
      }
      .bubbly-button.animate:before {
        display: block;
        animation: topBubbles ease-in-out 0.75s forwards;
      }
      .bubbly-button.animate:after {
        display: block;
        animation: bottomBubbles ease-in-out 0.75s forwards;
      }
      
      @keyframes topBubbles {
        0% {
          background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
        }
        50% {
          background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
        }
        100% {
          background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
          background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
        }
      }
      @keyframes bottomBubbles {
        0% {
          background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
        }
        50% {
          background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
        }
        100% {
          background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
          background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
        }
      }